<div class="signup-container">
  <h2>Sign Up</h2>
  <%= form_with scope: :user,url:signup_path,local:true do |f| %>
    <div class="form-floating mt-3">
      <%= f.text_field :username,class:"form-control",placeholder:"Username" %>
      <%= f.label :username %>
    </div>
    <div class="form-floating mt-3">
      <%= f.email_field :email,class:"form-control",placeholder:"name@example.com" %>
      <%= f.label :email %>
    </div>
    <div class="form-floating mt-3">
      <%= f.password_field :password,class:"form-control",placeholder:"Password" %>
      <%= f.label :password %>
    </div>
    <%= f.file_field :image,class:"form-control" %></br>
    <%= f.submit "Sign Up",class:"signup-btn" %>
  <% end %>
</div>